@import url('http://fonts.googleapis.com/css?family=Lato%3A100%2C300%2C400%2C700%2C900%2C100italic%2C300italic%2C400italic%2C700italic%2C900italic%7CRaleway%3A400%7COpen+Sans&subset=latin&ver=4.9.2');

body,
html {
    font-family: 'Lato', 'Arial', sans-serif;
    color: #3e4348;
    font-size: 15px;
}

* {
    color: #3e4348;
    font-size: 15px;
}

body {
    padding-top: 120px;
}

a {
    color: #e5c100;
}

a:hover {
    color: #e5c100;
    text-decoration: none;
}

a.navbar-brand {
    color: #e5c100 !important;
    font-size: 28px;
    font-weight: 300;
}

.navbar-brand-href .logo-brand {
    width: 200px;
    margin-top: -40px;
    margin-bottom: -40px;
}

.container-navbar {
    position: relative;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a i {
    color: #e5c100 !important;
}

.navbar-default .navbar-nav>li>a i {
    padding-right: 5px;
}

.navbar-brand {
    height: 70px;
    padding: 25px 0px;
}

.navbar-default {
    background-color: #fafbf6e3;
    border-color: transparent;
}

.anchor-form {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 20px;
}

.form-control,
.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #e5c100;
    border-color: #e5c100;
}

.btn-primary:hover {
    background-color: #e5c100;
    border-color: #e5c100;
}

.input-navbar {
    border: 1px solid #3e4348;
    color: #3e4348;
    font-size: 15px;
    height: 100%;
}

.label-navbar {
    font-weight: 300;
    font-size: 24px;
}

.navbar-toggle {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
}

.banner-main {
    background-image: url(../img/slide1.jpg);
    background-position: 0% 8%;
    background-size: cover;
    /* bottom: 0;
	left: 0;
	right: 0;
	top: 0; */
    width: 100%;
    height: 90vh;
    /* position: absolute; */
}

.banner-main:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 90vh;
    /* background: #00000069; */
    background: #ffffff61;
}

.container-site-info {
    height: 90vh;
    position: relative;
}

.container-site-info {
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}

.banner-ads {
    background-image: url('../img/reception.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.ads-detail {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.ads-table {
    display: table;
    height: 100%;
    background: #00000026;
}

.container-site-info h1 {
    margin-bottom: 20px;
}

.btn-site-info-big {
    padding: 14px 70px;
    font-size: 18px;
    line-height: 30px;
}

.ticker-main {
    background: #3e4348;
    font-weight: 300;
    font-size: 24px;
    padding: 30px;
    color: #fff;
}

.ticker-main i.fa {
    color: #fff;
}

.text-light {
    font-weight: 300;
}

.brands-container {
    padding: 30px 0;
}

.brand-detail {
    width: 300px;
    border: 1px solid;
    margin: 10px;
    padding: 10px 20px;
    display: inline-block;
}

.light-ticker {
    background: #f9f9f9;
    color: #3e4348;
    border-bottom: 1px solid #dcdcdc
}

.samples-container {
    padding-top: 30px;
}

.title-sample {
    margin-bottom: 30px;
}

.title-sample a {
    font-size: 20px;
}

.sample-imgs {
    border-radius: 100%;
}

footer {
    background-color: #313538;
    text-align: center;
    padding: 30px;
}


/* footer.sticky{
	position: absolute;
	width: 100%;
	bottom: 0;
} */

footer p {
    margin-bottom: 0;
    color: #fff;
}

.adding-gifts {
    padding: 30px 0;
}

.gradient-ticker {
    background: -webkit-linear-gradient(left, #e5c100, #ffeb7f);
    padding: 45px;
}

.gradient-ticker i.fa {
    color: #e5c100;
}

.label-lighter {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

.bx-wrapper {
    margin-bottom: 0 !important;
    border: 0 !important;
}

section.contact-us {
    background: #3e4348;
    padding-bottom: 15px;
}

.contact-container {
    color: #fff;
}

section.contact-us h1 {
    background: #e5c100;
    margin-bottom: 0;
    margin-top: 0;
    padding: 15px 0;
}

.contact-container *,
section.contact-us h1 {
    color: #fff;
}

.contact-container .text-contact-us {
    line-height: 25px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 0;
}

.col-contact-us h3 {
    font-size: 18px;
}

.text-theme {
    color: #e5c100 !important;
}

.contact-frm-group .input-group-addon {
    background: #e5c100;
    border: 1px solid #e5c100;
    border-radius: 0;
}

.contact-frm-group .form-control {
    border: 0;
    color: #3e4348;
}

.contact-frm-group textarea {
    height: 100px;
}

.modal-login .form-control {
    border: transparent;
}

.loadersmall {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.navbar-fixed-top .caret {
    color: #e5c100;
}

.navbar-fixed-top ul.dropdown-menu {
    border: 0;
    border-radius: 0;
    background: #fafbf6e3;
}

.navbar-fixed-top .dropdown-menu>li>a:focus,
.navbar-fixed-top .dropdown-menu>li>a:hover,
.navbar-fixed-top .dropdown-menu>li>a:focus i.fa,
.navbar-fixed-top .dropdown-menu>li>a:hover i.fa {
    background: #e5c100;
    color: #fff;
}

.navbar-fixed-top .dropdown-menu>li>a i.fa {
    padding-right: 5px;
}

.navbar-fixed-top .navbar-nav>.open>a,
.navbar-fixed-top .navbar-nav>.open>a:focus,
.navbar-fixed-top .navbar-nav>.open>a:hover {
    background-color: #fff;
}

.bridal-info-container {
    background: #eeeeee87;
    min-height: 85vh;
}

.bridal-info-container .container {
    height: 85vh;
    padding: 30px 0;
}

.bi-detail p {
    font-size: 16px;
    letter-spacing: .8px;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 30px;
    padding-left: 25px;
    text-align: justify;
}

.item-cats {
    margin-bottom: 30px;
    border: 1px solid #dcdcdc;
    /* box-shadow: #ccc 0 1px 10px 0;
    -webkit-box-shadow: #ccc 0 1px 10px 0;
    -moz-box-shadow: #ccc 0 1px 10px 0;
    -ms-box-shadow: #ccc 0 1px 10px 0;
    -o-box-shadow: #ccc 0 1px 10px 0; */
}

.img-cats {
    height: 300px;
}

.img-cats .img-responsive {
    margin: 0 auto;
    /* opacity: .7; */
	max-height: 300px;
	min-height: 300px;
	width: 100%;
}

.item-cats a{
	display: block;
    background: #3e4348;
    margin: 0;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    font-weight: 300;
}

.item-cats a:hover{
	transition: .5s ease;
	background: #e5c100;
}

.products-container {
    background: #eeeeee87;
    padding: 30px 0;
    min-height: 85vh;
}

.products-list-sidebar,
.products-list-content {
    background: #fff;
    border: 1px solid #eee;
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: max-width 0.5s ease-in-out;
    padding: 0;
}

.products-list-content {
    padding: 0 15px;
}

.products-list-sidebar .block-sidebar-head {
    padding: 20px 0;
    background: #f9f9f9;
    border-bottom: 1px solid #D4D6D8;
    border-top: 1px solid #D4D6D8;
    margin-bottom: 30px;
}

.products-list-sidebar .block-sidebar-head .head-detail h3 {
    margin: 0;
}

.products-list-sidebar .block-sidebar-details.categories-list .panel {
    box-shadow: none;
    border-radius: 0;
    border: 0;
}

.products-list-sidebar .block-sidebar-details.categories-list .panel .panel-heading {
    background: transparent;
    border-bottom: 1px solid #D4D6D8;
}

.products-list-sidebar .block-sidebar-details.categories-list .panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 0;
}

.products-list-sidebar .block-sidebar-details.categories-list .panel-title,
.products-list-sidebar .block-sidebar-details.categories-list .list-group-item {
    text-transform: uppercase;
    font-weight: 300;
}

.products-list-sidebar .block-sidebar-details.categories-list .list-group-item {
    padding-left: 30px;
}

.products-list-sidebar .block-sidebar-details.categories-list .panel-title a {
    width: 100%;
    display: block;
}

.price-details-block {
    border-top: 1px solid #d4d6d8;
    margin: 20px 0;
    padding-top: 20px;
}

.price-details-block p {
    font-weight: 300;
    font-size: 14px;
    padding-top: 7px;
}

.products-list-content .head-products-list {
    background: #f9f9f9;
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
    border-bottom: 1px solid #d4d6d8;
    margin-bottom: 20px;
}

.products-list-content .head-products-list .form-control {
    border: 1px solid #3e4348;
    color: #3e4348;
    font-size: 15px;
    height: 100%;
}

.products-list-content .head-products-list .btn {
    font-size: 15px;
}

@media (min-width: 768px) {
    .form-inline .form-group {
        margin-right: 5px;
    }
    .navbar-collapse.collapse {
        margin-top: 20px;
    }
    .less-mt {
        margin-top: -5px;
    }
}

.products-list-content .block-products-list .product-box {
    margin-bottom: 20px;
    height: 320px;
}

.products-list-content .block-products-list .product-box .product-img-container {
    /* content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%; */
    position: relative;
}

.products-list-content .block-products-list .product-box .product-img-container img {
    max-height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.products-list-content .block-products-list .product-box .product-title {
    font-weight: 300;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

.products-list-content .block-products-list .product-box .product-price {
    font-weight: bold;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.products-list-content .block-products-list .product-box .product-purhcase {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.space-prod {
    margin-bottom: 5px;
}

.profile-container {
    background: #eeeeee87;
    padding: 30px 0;
}

.profile-container .container {
    border: 1px solid #dcdcdc;
    background: #fff;
    padding: 0;
    box-shadow: #ddd 0 1px 15px 0;
}

.head-block-profile {
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    padding: 15px;
}

.title-profile-head {
    font-size: 28px;
}

.content-block-profile {
    padding: 15px;
}

.profile-form-container .row {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 10px;
    box-shadow: 0 2px 2px -2px #efefef;
}

.container-wishlist-form {
    padding: 30px 0;
}


/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

.boxedcontainer {
    max-width: 1170px;
    margin: auto;
    padding: 0px 30px;
}


/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.tp-banner {
    width: 100%;
    position: relative;
}

.tp-banner-fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.panel-default>.panel-heading {
    /* background: -webkit-linear-gradient(bottom, #e5c100, #ffeb7f); */
}

.block-row-listb {
    background: #fff;
    border-bottom: 1px solid #ccc;
    /* margin-bottom: 3px; */
    padding: 15px;
}

.lr-container{
	min-height: 300px;
}

p.light-rale {
    color: #777;
    font-family: 'Open Sans';
    font-size: 24px;
    text-align: justify;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

.faqs-main .panel-title a:hover {
    color: #333;
}

.field-control{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.input-group-addon{
	border-radius: 0 !important;
}
.container-registeries .head-main i.fa{
    font-size: 24px;
    color: #e5c100;
}
.head-bottom-line{
    border-bottom: 2px solid #e5c100; width: 40px; display: block; margin:0 auto; margin-top:10px;
}